---
- name: Setup Git
  hosts: all
  vars:
    git_user_name: User
    git_user_email: user@example.com
    git_prompt_enable_custom_conf: false
    git_prompt_sh_path: >-
      {%- if ansible_facts['os_family'] == "Debian" -%}
        /usr/lib/git-core/git-sh-prompt
      {%- else if ansible_facts['os_family'] == "RedHat" -%}
        /usr/share/git-core/contrib/completion/git-prompt.sh
      {%- endif -%}
    # Based on: https://askubuntu.com/a/890697
    git_prompt_config: GIT_PS1_SHOWCOLORHINTS=true PROMPT_COMMAND='__git_ps1 "'${PS1%???}'" "\n\\\$ "'

  tasks:
    - name: Install git (Debian)
      ansible.builtin.apt:
        name: git
        state: present
        update_cache: true
        cache_valid_time: 3600
      become: true
      when: ansible_facts['os_family'] == "Debian"

    - name: Install git (RedHat)
      ansible.builtin.dnf:
        name: git
        state: present
        update_cache: true
      become: true
      when: ansible_facts['os_family'] == "RedHat"

    - name: Add bash git aliases
      ansible.builtin.lineinfile:
        line: alias g='git'
        path: ~/.bashrc
        state: present

    - name: Git user configuration
      ansible.builtin.copy:
        content: |
          [user]
            name = {{ git_user_name }}
            email = {{ git_user_email }}
          # Based on: https://opensource.com/article/20/11/git-aliases
          [alias]
            cm = commit -m
            dv = difftool -t vimdiff -y
            gl = config --global -l
            last = log -1 HEAD --stat
            ll = log --oneline
            st = status -sb
          [credential]
            helper = cache
        dest: ~/.gitconfig
        mode: "0664"

    - name: Custom bash prompt
      ansible.builtin.lineinfile:
        line: ". {{ git_prompt_sh_path }} && {{ git_prompt_config }}"
        path: ~/.bashrc
        state: present
      when: git_prompt_enable_custom_conf is truthy
