# https://developer.hashicorp.com/vagrant/install
---
- name: Setup Vagrant
  hosts: all
  become: true
  vars:
    vagrant_configure_bash_completion: false

  tasks:
    - name: Add repository (Debian)
      ansible.builtin.include_tasks: ../tasks/add_debian_repo.yml
      vars:
        debian_repo_key_url: https://apt.releases.hashicorp.com/gpg
        debian_repo_key_path: /usr/share/keyrings/hashicorp-archive-keyring.gpg
        debian_repo_filename: hashicorp
        debian_repo_list: >-
          deb [arch={{ debian_dpkg_architecture }} signed-by={{ debian_repo_key_path }}]
          https://apt.releases.hashicorp.com {{ debian_distro_codename }} main
      when: ansible_facts['os_family'] == "Debian"

    - name: Add repository (RedHat)
      ansible.builtin.get_url:
        url: >-
          {%- if ansible_facts['distribution'] == "Fedora" -%}
            https://rpm.releases.hashicorp.com/fedora/hashicorp.repo
          {%- else -%}
            https://rpm.releases.hashicorp.com/RHEL/hashicorp.repo
          {%- endif -%}
        dest: /etc/yum.repos.d/hashicorp.repo
        mode: "0644"
        owner: root
        group: root
      when: ansible_facts['os_family'] == "RedHat"

    - name: Install Vagrant (Debian)
      ansible.builtin.apt:
        name: vagrant
        state: present
        update_cache: true
      when: ansible_facts['os_family'] == "Debian"

    - name: Install Vagrant (RedHat)
      ansible.builtin.dnf:
        name: vagrant
        state: present
        update_cache: true
      when: ansible_facts['os_family'] == "RedHat"

    - name: Validate install
      ansible.builtin.command:
        cmd: vagrant --version
      changed_when: false

    - name: Configure bash autocompletion
      ansible.builtin.lineinfile:
        line: . /opt/vagrant/embedded/gems/gems/vagrant-$(vagrant --version | cut -d' ' -f2)/contrib/bash/completion.sh
        path: ~/.bashrc
        state: present
      become: false
      when: vagrant_configure_bash_completion is truthy
