---
- name: Install asdf
  ansible.builtin.import_playbook: install_asdf.yml

- name: Setup crane
  hosts: all
  vars:
    crane_version: latest
    crane_configure_bash_completion: false

  tasks:
    - name: Add crane via asdf
      ansible.builtin.include_tasks: ../tasks/add_asdf_plugins_and_tools.yml
      vars:
        asdf_tool_name: crane
        asdf_tool_version: latest
        asdf_plugin_url: https://github.com/dmpe/asdf-crane.git
        asdf_validate_command: crane version

    - name: Configure bash completion
      ansible.builtin.lineinfile:
        line: source <(crane completion bash)
        path: ~/.bashrc
        state: present
      when: crane_configure_bash_completion is truthy
