# Based on: https://www.virtualbox.org/wiki/Linux_Downloads
---
- name: Setup VirtualBox
  hosts: all
  become: true
  vars:
    vbox_version: 7.2

  tasks:
    - name: Add repository (Debian)
      ansible.builtin.include_tasks: ../tasks/add_debian_repo.yml
      vars:
        debian_repo_key_url: https://www.virtualbox.org/download/oracle_vbox_2016.asc
        debian_repo_key_path: /usr/share/keyrings/oracle-virtualbox-2016.gpg
        debian_repo_filename: oracle-virtualbox
        debian_repo_list: >-
          deb [arch={{ debian_dpkg_architecture }} signed-by={{ debian_repo_key_path }}]
          https://download.virtualbox.org/virtualbox/debian {{ debian_distro_codename }} contrib
      when: ansible_facts['os_family'] == "Debian"

    - name: Add repository (RedHat)
      ansible.builtin.get_url:
        url: >-
          {%- if ansible_facts['distribution'] == "Fedora" -%}
            https://download.virtualbox.org/virtualbox/rpm/fedora/virtualbox.repo
          {%- else -%}
            https://download.virtualbox.org/virtualbox/rpm/el/virtualbox.repo
          {%- endif -%}
        dest: /etc/yum.repos.d/virtualbox.repo
        mode: "0644"
        owner: root
        group: root
      when: ansible_facts['os_family'] == "RedHat"

    - name: Install VirtualBox (Debian)
      ansible.builtin.apt:
        name: virtualbox-{{ vbox_version }}
        state: present
        update_cache: true
      when: ansible_facts['os_family'] == "Debian"

    - name: Install VirtualBox (RedHat)
      ansible.builtin.dnf:
        name: VirtualBox-{{ vbox_version }}
        state: present
        update_cache: true
      when: ansible_facts['os_family'] == "RedHat"

    - name: Validate install
      ansible.builtin.command:
        cmd: vboxmanage --version
      changed_when: false
